@model GeopopRipoff.Models.Reels.ReelsIndex

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VivoSostenibile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Reels/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/js/Reels/Index.js"></script>

</head>
<body>
    <div class="video-feed">

        @for (int i = 0; i < Model.List_Reels.Count; i++)
        {
            <div class="video-container">

                <video controls muted="true" preload="none" class="video-item">
                    <source src="@Model.List_Reels[i].Path" type="video/mp4">
                    Il tuo browser non supporta il tag video.
                </video>

                <div class="utility-bar-reels">

                    <div class="utility-bar-txt">

                        <h1 class="utility-bar-title" style="color: #D1D1D1">@Model.List_Reels[i].Id_Contenuto</h1>

                        @using (Html.BeginForm("Video", "Reels", FormMethod.Post, new { @class = "", id = $"ReelsLink_{i}" }))
                        {
                            @Html.Hidden("id_articolo", @Model.List_Reels[i].Id_Contenuto)
                            <a class="utility-bar-link" href="javascript:void(0);" id="@Model.List_Reels[i].Id_Contenuto">Vedi L'Intero Video</a>
                        }

                        <script>
                            document.getElementById("@($"ReelsLink_{i}")").addEventListener("click", function () {
                                document.getElementById("@($"ReelsLink_{i}")").submit();
                            });
                        </script>

                    </div>

                    <div class="utility-bar-btn">

                        <i class="fas fa-share fa-4x"></i>

                        <i class="fas fa-thumbs-up fa-4x"></i>
                        <h8>@Model.List_Reels[i].Cn_Like</h8>


                        <i class="fas fa-comment fa-4x"></i>
                        <h8>@Model.List_Reels[i].Total_Comments</h8>

                    </div>

                </div>

            </div>
        }
    </div>

</body>
</html>
