@{
    ViewData["Title"] = "Home Page";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-success mt-3" role="alert">
        @ViewBag.Message
    </div>
}

<div class="container">
    <div class="col-12 mainCorpo">
        <div class="row titleAndSearch">
            <div class="col-6 titleImg"></div>

            <div class="col-3 searchBar">

                <form id="search-form">
                    <input type="text" id="search-input" placeholder="Cerca...">
                    <button type="submit">Cerca</button>
                </form>

            </div>

            <div class="col-1 notificationsBell">

                @using (Html.BeginForm("Notifiche", "Home", FormMethod.Post, new { @class = "" }))
                {
                    <button class="invisible-button">
                        <i class="fas fa-bell"></i>
                    </button>
                }
            </div>


            <div class="col-1 specMenu">
                @using (Html.BeginForm("Menu", "Home", FormMethod.Post, new { @class = "" }))
                {
                    <button class="invisible-button" onclick="navigateTo('Menu')">
                        <i class="fas fa-bars"></i>
                    </button>
                }
            </div>



            <div class="col-1" style="border-radius: 0 20px 0 0;"></div>
        </div>
        <div class="row menuSelection">

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "1")
                    <button class="btn btn-primary w-100 h-100 invisible-button">Argument1</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "2")
                    <button class="btn btn-primary w-100 h-100 invisible-button">Argument2</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "3")
                    <button class="btn btn-primary w-100 h-100 invisible-button">Argument3</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "4")
                    <button class="btn btn-primary w-100 h-100 invisible-button">Argument4</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "5")
                    <button class="btn btn-primary w-100 h-100 invisible-button">Argument5</button>
                }
            </div>
            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "6")
                    <button class="btn btn-primary w-100 h-100 invisible-button">Argument6</button>
                }
            </div>
            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "7")
                    <button class="btn btn-primary w-100 h-100 invisible-button">Argument7</button>
                }
            </div>
            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "8")
                    <button class="btn btn-primary w-100 h-100 invisible-button">Argument8</button>
                }
            </div>
        </div>
        <div class="mainShowCase">3</div>
        <div class="detailShowCase">4</div>
        <div class="flashNews">5</div>




        <div class="reelsStyle">

            <div class="row">

                <div class="col-2">
                    <i class="fas fa-bolt"></i>
                    Flash
                </div>

                <div class="col-8"></div>


                <div class="col-2">
                    @using (Html.BeginForm("Notifiche", "Home", FormMethod.Post, new { @class = "" }))
                    {
                        <button class="invisible-button">
                            <i class="fas fa-play"></i>
                            Guarda Tutti
                        </button>
                    }
                </div>

            </div>

            <div class="row" style="height:100%; display:flex; padding-top:10px; padding-bottom:10px; flex:1">

                <div class="flash-stories" id="flash-stories">

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button w-100 h-100">
                                <video id="thumbnail-video" class="thumbnail-video" muted="true" loop="true">
                                    <source src="~/Video/Test1.mp4" type="video/mp4">
                                </video>
                            </button>
                        }
                    </div>

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button">
                                <video id="thumbnail-video" class="thumbnail-video" muted loop>
                                    <source src="~/Video/Test2.mp4" type="video/mp4">
                                </video>
                            </button>
                        }
                    </div>

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button">
                                <video id="thumbnail-video" class="thumbnail-video" muted loop>
                                    <source src="~/Video/Test3.mp4" type="video/mp4">
                                </video>
                            </button>
                        }
                    </div>

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button">
                                <video id="thumbnail-video" class="thumbnail-video" muted loop>
                                    <source src="~/Video/Test4.mp4" type="video/mp4">
                                </video>
                            </button>
                        }
                    </div>

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button">
                                <video id="thumbnail-video" class="thumbnail-video" muted loop>
                                    <source src="~/Video/Test5.mp4" type="video/mp4">
                                </video>
                            </button>
                        }
                        
                    </div>
                </div>
            </div>

        </div>




        <div class="roccoRipoff">7</div>
        <div class="news">7</div>
        <div class="aroundTheWorld">9</div>
        <div class="zaWardo">10</div>
        <div class="idk">11</div>
        <div class="serie">12</div>
        <div class="suggerimenti">12</div>
    </div>
</div>