@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="col-12 mainCorpo">

        <div class="row utility-bar">

            <div class="col-5 titleImg"></div>
            <div class="col-4 searchBar">

                <form id="search-form">
                    <input type="text" id="search-input" placeholder="Cerca...">
                    <button type="submit">Cerca</button>
                </form>

            </div>
            <div class="col-1 notificationsBell">

                @using (Html.BeginForm("Notifiche", "Home", FormMethod.Post, new { @class = "" }))
                {
                    <button class="invisible-button">
                        <i class="fas fa-bell"></i>
                    </button>
                }
            </div>
            <div class="col-1 specMenu">
                @using (Html.BeginForm("Index", "Menu", FormMethod.Post, new { @class = "" }))
                {
                    <button class="invisible-button" onclick="navigateTo('Menu')">
                        <i class="fas fa-bars"></i>
                    </button>
                }
            </div>
            <div class="col-1" style="border-radius: 0 20px 0 0;"></div>

        </div>

        <div class="row menuSelection">

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Index", "Argument", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "1")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "2")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "3")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "4")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "5")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>
            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "6")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>
            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "7")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>
            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "8")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "8")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "8")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>

            <div class="col-1 menuSelectionELEMENT">
                @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("ItemId", "8")
                    <button class="w-100 h-100 invisible-button">Argument2</button>
                }
            </div>
        </div>

        <div class="row mainShowCase">

            <div id="carouselExampleControls" class="carousel slide w-100 h-100" data-ride="carousel" style="padding:0px">

                <div class="carousel-inner w-100 h-100">

                    <div class="carousel-item active w-100 h-100 show-case" style="position:relative">
                        @using (Html.BeginForm("Policy", "Home", FormMethod.Post, new { @id = "1_CauroselForm", @class = "text-overlay" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <a href="javascript:void(0);" id="1_CauroselLink" class="link-text">LinkElemento</a>
                        }
                        <script>
                            document.getElementById("1_CauroselLink").addEventListener("click", function () {
                                document.getElementById("1_CauroselForm").submit();
                            });
                        </script>
                        <img src="/Img/MS11.jpg" class="d-block w-100" alt="Slide 1">
                    </div>

                    <div class="carousel-item w-100 h-100 show-case" style="position:relative">
                        @using (Html.BeginForm("Policy", "Home", FormMethod.Post, new { @id = "2_CauroselForm", @class = "text-overlay" }))
                        {
                            @Html.Hidden("ItemId", "2")
                            <a href="javascript:void(0);" id="2_CauroselLink" class="link-text">LinkElemento</a>
                        }
                        <script>
                            document.getElementById("2_CauroselLink").addEventListener("click", function () {
                                document.getElementById("2_CauroselForm").submit();
                            });
                        </script>
                        <img src="/Img/MS10.jpg" class="d-block w-100" alt="Slide 2">
                    </div>

                    <div class="carousel-item w-100 h-100 show-case" style="position:relative">
                        @using (Html.BeginForm("Policy", "Home", FormMethod.Post, new { @id = "3_CauroselForm", @class = "text-overlay" }))
                        {
                            @Html.Hidden("ItemId", "3")
                            <a href="javascript:void(0);" id="3_CauroselLink" class="link-text">LinkElemento</a>
                        }
                        <script>
                            document.getElementById("3_CauroselLink").addEventListener("click", function () {
                                document.getElementById("3_CauroselForm").submit();
                            });
                        </script>
                        <img src="/Img/MS3.jpg" class="d-block w-100" alt="Slide 3">
                    </div>

                </div>


                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

        </div>

        <div class="row stories-container">

            @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "stories-element" }))
            {
                @Html.Hidden("ItemId", "1")
                <button class="invisible-button">
                    <img src="/Img/Img1.jpg">
                </button>
            }

            @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "stories-element" }))
            {
                @Html.Hidden("ItemId", "1")
                <button class="invisible-button">
                    <img src="/Img/Img1.jpg">
                </button>
            }

            @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "stories-element" }))
            {
                @Html.Hidden("ItemId", "1")
                <button class="invisible-button">
                    <img src="/Img/Img1.jpg">
                </button>
            }

            @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "stories-element" }))
            {
                @Html.Hidden("ItemId", "1")
                <button class="invisible-button">
                    <img src="/Img/Img1.jpg">
                </button>
            }

            @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "stories-element" }))
            {
                @Html.Hidden("ItemId", "1")
                <button class="invisible-button">
                    <img src="/Img/Img1.jpg">
                </button>
            }

            @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "stories-element" }))
            {
                @Html.Hidden("ItemId", "1")
                <button class="invisible-button">
                    <img src="/Img/Img1.jpg">
                </button>
            }

            @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "stories-element" }))
            {
                @Html.Hidden("ItemId", "1")
                <button class="invisible-button">
                    <img src="/Img/Img1.jpg">
                </button>
            }

            @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "stories-element" }))
            {
                @Html.Hidden("ItemId", "1")
                <button class="invisible-button">
                    <img src="/Img/Img1.jpg">
                </button>
            }

        </div>

        <div class="row reelsStyle">

            <div class="row" style="height:100%; display:flex; padding-top:10px; padding-bottom:10px; flex:1; margin-left: 0px;margin-right: 0px;">

                <div class="flash-stories" id="flash-stories">

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "w-100 h-100" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button w-100 h-100">
                                <video id="thumbnail-video" class="thumbnail-video" muted="true" loop="true">
                                    <source src="~/Video/Test1.mp4" type="video/mp4">
                                </video>
                            </button>
                        }
                    </div>

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button">
                                <video id="thumbnail-video" class="thumbnail-video" muted loop>
                                    <source src="~/Video/Test2.mp4" type="video/mp4">
                                </video>
                            </button>
                        }
                    </div>

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Argument", "Home", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button">
                                <video id="thumbnail-video" class="thumbnail-video" muted loop>
                                    <source src="~/Video/Test3.mp4" type="video/mp4">
                                </video>
                            </button>
                        }
                    </div>

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button">
                                <video id="thumbnail-video" class="thumbnail-video" muted loop>
                                    <source src="~/Video/Test4.mp4" type="video/mp4">
                                </video>
                            </button>
                        }
                    </div>

                    <div class="grid-item-reels">
                        @using (Html.BeginForm("Notifiche", "Menu", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.Hidden("ItemId", "1")
                            <button class="invisible-button">
                                <video id="thumbnail-video" class="thumbnail-video" muted loop>
                                    <source src="~/Video/Test5.mp4" type="video/mp4">
                                </video>
                            </button>
                        }

                    </div>
                </div>

            </div>

        </div>

        <div class="row suggerimenti">
        </div>
    </div>
</div>
