@model GeopopRipoff.Utility.Document

<div class="row testo-policy children-div-all second-lv-conteiner">
    <h1 class="title-policy colore-scritte-LV">@Model.Title</h1>
    <h3 class="header-policy colore-scritte-LV">@Model.Header</h3>

    @for (int i = 0; i < Model.Sections.Count; i++)
    {
        <h4 class="subtitle-policy colore-scritte-LV">@(i + 1)) @Model.Sections[i].Subtitle</h4>
        <h5 class="content-policy colore-scritte-LV">@Model.Sections[i].Content</h5>
    }
</div>

<script src="~/js/Home/Policy.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/Home/Policy.css" asp-append-version="true" />