<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]VivoSostenibile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/GeopopRipoff.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/globalColor.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/globalText.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/globalClass.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/_layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.min.js"></script>
    <script src="~/js/LogSignInOut/FbSDK.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Shared/_Layout.js"></script>

</head>
<body class="colore-sfondo">

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v20.0&appId=1015689366876643" nonce="QfO4GBCz"></script>

    <div class="container" style="position:relative">
        <main role="main" class="pb-3">

            <div class="spinner-box" id="loading-spinner">
                <div class="circle-border">
                    <div class="circle-core"></div>
                </div>
            </div>

            <div class="col-12 main-corpo colore-sfondo master-conteiner-div parent-div-all" id="main-corpo">

                <div class="utility-bar first-lv-conteiner children-div-all">

                    <div class="titleImg colore-scritte-HV item">
                        @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "w-100 h-100" }))
                        {
                            <button class="w-100 h-100 invisible-button colore-scritte-HV">VivoSostenibile</button>
                        }
                    </div>
                    <div class="searchBar item">

                        <form id="search-form">
                            <input type="text" id="search-input" placeholder="Cerca...">
                            <button type="submit">Cerca</button>
                        </form>

                    </div>
                    <div class="notificationsBell item">

                        @using (Html.BeginForm("Notifiche", "Home", FormMethod.Get, new { @class = "" }))
                        {
                            <button class="invisible-button">
                                <i class="fas fa-bell"></i>
                            </button>
                        }
                    </div>
                    <div class="specMenu item">
                        @using (Html.BeginForm("Index", "Menu", FormMethod.Get, new { @class = "" }))
                        {
                            <button class="invisible-button">
                                <i class="fas fa-bars"></i>
                            </button>
                        }
                    </div>

                </div>

                <div class="menu-selection first-lv-conteiner children-div-all">

                    @await Component.InvokeAsync("SharedComponent")

                </div>

                <div class="render-body-container first-lv-conteiner children-div-all">

                    @RenderBody()

                </div>

                <div class="first-lv-conteiner" style="height:20px; position:absolute"></div>
        
            </div>
        
        </main>
    </div>
    <footer id="footer">

        <section class="d-flex justify-content-between p-4 text-white colore-principale">

            <div>
                <a href="https://www.facebook.com" class="text-white me-4">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.twitter.com" class="text-white me-4">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.google.com/" class="text-white me-4">
                    <i class="fab fa-google"></i>
                </a>
                <a href="https://www.instagram.com" class="text-white me-4">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com" class="text-white me-4">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://www.tiktok.com/" class="text-white me-4">
                    <i class="fab fa-tiktok"></i>
                </a>
            </div>

        </section>

        <section class="">
            <div class="container text-center text-md-start mt-5">

                <div class="row mt-3">

                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold">8 MILA</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            Il sole splendeva alto nel cielo azzurro, mentre le onde del mare si infrangevano dolcemente sulla riva.
                            I bambini giocavano sulla sabbia, costruendo castelli e scavando buche profonde.
                        </p>
                    </div>
                  
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-4">

                        <h6 class="text-uppercase fw-bold">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p>
                            @using (Html.BeginForm("Policy", "Home", FormMethod.Get, new { @id = "telemarketingPolicyForm", }))
                            {
                                @Html.Hidden("ItemId", "1")
                                <a href="javascript:void(0);" id="telemarketingPolicyLink" class="link-text">Telemarketing Policy</a>
                            }
                            <script>
                                document.getElementById("telemarketingPolicyLink").addEventListener("click", function () {
                                    document.getElementById("telemarketingPolicyForm").submit();
                                });
                            </script>
                        </p>

                        <p>
                            @using (Html.BeginForm("Policy", "Home", FormMethod.Get, new { @id = "cookiePolicyForm", }))
                            {
                                @Html.Hidden("ItemId", "2")
                                <a href="javascript:void(0);" id="cookiePolicyLink" class="link-text">Cookie Policy</a>
                            }
                            <script>
                                document.getElementById("cookiePolicyLink").addEventListener("click", function () {
                                    document.getElementById("cookiePolicyForm").submit();
                                });
                            </script>
                        </p>



                        <p>
                            @using (Html.BeginForm("Policy", "Home", FormMethod.Get, new { @id = "privacyPolicyForm", }))
                            {
                                @Html.Hidden("ItemId", "3")
                                <a href="javascript:void(0);" id="privacyPolicyLink" class="link-text">Privacy Policy</a>
                            }
                            <script>
                                document.getElementById("privacyPolicyLink").addEventListener("click", function () {
                                    document.getElementById("privacyPolicyForm").submit();
                                });
                            </script>

                        </p>

                        <p>
                        </p>

                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="text-uppercase fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto"
                            style="width: 60px; background-color: #7c4dff; height: 2px" />
                        <p><i class="fas fa-home mr-3"></i>Corso Europa 44, 20010 Inveruno (MI)</p>
                        <p><i class="fas fa-envelope mr-3"></i>info@8mila.com</p>
                        <p><i class="fas fa-phone mr-3"></i>+39 0331 1815264</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
