@model GeopopRipoff.Models.ArticleXml


<div class="row children-div-all second-lv-conteiner" style="margin:0px;">
    <h1 class="colore-scritte-LV third-lv-conteiner">@Model.Title</h1>
    <h3 class="colore-scritte-LV third-lv-conteiner">@Model.Header</h3>
</div>

<div class="row children-div-all second-lv-conteiner" style="display:inline; text-align:left; margin:0px; padding:5px;">
    <h5 class="colore-scritte-LV">A cura di @Model.Autore.Id_Autore</h5>
    <h5 class="colore-scritte-LV">@Model.DtPubblicazione</h5>
</div>

@for (int i = 0; i < Model.Chapters.Count; i++)
{
    <div class="row @(i % 2 == 0 ? "right-text" : "left-text") children-div-all second-lv-conteiner">
        <div class="text-article third-lv-conteiner">
            <h3 class="colore-scritte-LV">@Model.Chapters[i].Subtitle</h3>
            <h5 class="colore-scritte-LV">@Model.Chapters[i].Content</h5>
        </div>
        <div class="image-article third-lv-conteiner">
            <img class="immagine" src="@Model.Chapters[i].SubImgPath">
        </div>
    </div>
}

<link rel="stylesheet" href="~/css/Argument/Article.css" asp-append-version="true" />
