@model GeopopRipoff.Models.Argument.ArgumentIndex

<div class="row argument-display-header children-div-all second-lv-conteiner" id="id-argomento" data-model="@Html.Raw(Model.Id_Argomento)">
    <img src="@Model.PathHeader">
    <span class="text-overlay">@Model.Descrizione</span>
</div>

<div class="container-234-parent" id="container-234-parent">
    <div class="row container-class234 children-div-all second-lv-conteiner" id="container-class234">

        @for (int i = 0; i < Model.Contenuti.Count; i++)
        {
            <div class="item-argument" data-index="@i">
                @using (Html.BeginForm("Article", "Argument", FormMethod.Get, new { @class = "w-100 h-100" }))
                {
                    @Html.Hidden("id_articolo", Model.Contenuti[i].Title)
                    @Html.Hidden("id_argomento", Model.Id_Argomento)
                    <button class="invisible-button">
                        <img src="@Model.Contenuti[i].ImgPath" >
                        <span class="colore-scritte-LV">@Model.Contenuti[i].Title</span>
                    </button>
                }
            </div>
        }
    </div>
</div>

<div class="row show-more children-div-all second-lv-conteiner">
    <button onclick="insertHtmlStructure()" class="invisible-button colore-scritte-HV">Show More</button>
</div>

<link rel="stylesheet" href="~/css/Argument/Index.css" asp-append-version="true" />
<script src="~/js/Argument/Index.js" asp-append-version="true"></script>
